// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #22ECAE;
$gray: #0E0000;
$light-gray: #F4F4F4;
$green-sports: #22ECAE;
$background-green:#1E2F39;
$green-trans:rgba(34, 236, 174, 0.07);
