.map {
  height: 70vh;
  // margin: 0 auto;
  height: 600px;
}

.mapboxgl-canvas{
  width:100% !important;
  height:100% !important
}

.title-offer {
  border: 2px solid #22ecae;
  font-size: large ;
  border-radius: 5px;
  // display: flex;
  margin: 5px;
  margin: 0px 27px;
  width: 90%;
}

.titles-offer {
  //height: 10vh;
  // margin: 0 auto;
  // width: 60%;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 40%;

    //height: 10vh;
    margin-top: 10%;
    margin-left: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25%;
}

.titles-offer-right {
  //height: 10vh;
  // margin: 0 auto;
  // width: 60%;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 40%;

    //height: 10vh;
    margin-top: 10%;
    margin-left: 12%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15%;
}

.title-offer-big {
  border: 2px solid #22ecae;
  font-size: larger ;
  border-radius: 5px;
  //display: flex;
  margin: 0px auto;
  padding: 20px;
}

.title-offer-big .text {
  text-decoration: none;
}

.main-container-offer {
  margin: 0 auto;
}

.description-offer {
  border: 2px solid #22ecae;
  height: 21vh;
  border-radius: 5px;
  background-color: #1E2F39;
  padding: 19px;
  font-size: 30px;
  width: 750px;
  margin: 0 auto;
}

.description-offer-left {
  border: 2px solid #22ecae;
  height: auto;
  border-radius: 5px;
  background-color: #1E2F39;
  padding: 39px;
  font-size: 40px;
  margin: 0 auto;
}

.card-left-offer {
  border-radius: 5px;
  background-color: #1E2F39;
  width: 35%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__name-offer {
  margin-top: 17px;
  font-size: 2em;
  line-height: 30px;
  margin-bottom: 2px;
  text-align: center;
}

.card-offer {
  background-color: #2F4858;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  height: auto;
  margin: 25px;
  display: flex;
  flex-direction: row;
  border: 1px solid #eaf3e9;
  justify-content: space-between;
}

.card-offer-right {
  background-color: #2F4858;
  // border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  width: 70vw;
  // height: 60vh;
  margin: 25px;
  display: flex;
  flex-direction: row;
  border-left: 1px solid #eaf3e9;
  justify-content: space-between;
}

.right-container {
  width: 100%;
}
