.map {

  height: 70vh;
  margin: 0 auto;
  height: 600px;
}

.mapboxgl-canvas{
  width:100% !important;
  height:100% !important
}

.title-offer {
  border: 2px solid #22ecae;
  font-size: large ;
  border-radius: 5px;
  display: flex;
  margin: 5px;
  margin: 0px 27px;
  width: 80%;
}

.titles-offer {
  //height: 10vh;
  // margin: 0 auto;
  // width: 60%;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 40%;

    //height: 10vh;
    margin-top: 10%;
    margin-left: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25%;
}

.titles-offer-right {
  //height: 10vh;
  // margin: 0 auto;
  // width: 60%;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 40%;

    //height: 10vh;
    margin-top: 10%;
    margin-left: 12%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15%;
}

.title-offer-big {
  border: 2px solid #22ecae;
  font-size: larger ;
  border-radius: 5px;
  //display: flex;
  margin: 0px auto;
  padding: 20px;
}

.title-offer-big .text {
  text-decoration: none;
}

.main-container-offer {
  margin: 0 auto;
}

.description-offer {
  border: 2px solid #22ecae;
  height: 21vh;
  border-radius: 5px;
  background-color: #1E2F39;
  padding: 9px;
  font-size: 20px;
  margin: 0 auto;
}
