  <div class="containerb">
    <div class="titleb"><h1>My applications</h1></div>
        <% @applications.each do |application| %>
        <%# insert offer card  %>
      <div class="application-card">
              <div class="details">
            <h2>Details:</h2>
            <strong> Status: <%= application.status %></strong> <br>
            <strong> Date: </strong> <%= application.created_at %>  <br>
            </div>
      <div>
        <%= link_to offers_path, class: 'btn btn-primary rounded acc-btn' do %>
          <i class="fas fa-plus"></i> Accept
        <% end %>
      </div>

      <div> <%= link_to applications_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},  class: 'btn btn-danger rounded rj-btn' do %>
        <i class="fas fa-trash-alt"></i> Reject
      <% end %>
      </div>

     </div>
      <% end %>
  </div>
