
<div class="container py-5" style="
    display: flow-root;">
      <div class="p-3 text-center">
        <h3>Apply for this position</h3>

        <%= simple_form_for [@offer, @application] do |f| %>
          <% if @application.errors.any? %>
            <div class="alert alert-danger">
              <h5>You must correct these errors</h5>
              <ul>
                <% @application.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%# Cover letter %>
          <%= f.submit class: 'btn btn-primary' %> or
          <%= link_to 'Cancel', offers_path, class: 'text-danger' %>
        <% end %>
      </div>
</div>
