<div class="container">
  <div class="card">
    <div class="card-left">
      <img src="#" alt="Person" class="card__image">
      <p class="card__name"><%= user.name %></p>
        <div class="sport">
          Volleyball Player
        </div>
    </div>

      <div class="grid-container">
        <div class="description">
          description
        </div>

        <div class="titles">
          <div class="title">
          title1
          </div>

          <div class="titlel">
          title 2
          </div>
      </div>

    </div>
  </div>
</div>
