<div class="container">
  <div class='home-cards__container'>
    <div class="card-left">
      <%= cl_image_tag @user&.photo.key, class:"card__image" %>
      <div class='card-left__name'>
        <p class="card__name"><%= @user.name %> <%= @user.last_name %></p>
        <p class="sport"><%= @user.sport.name %></p>
      </div>
      <div class='card-left__sport'>
      <i class="fal fa-volleyball-ball"></i>
        <p>volleyball Player</p>
        <p>Position: Libero</p>
        <div class='card-left__sport-info'>
          <div class='card-left__sport-info-weight'>
            <p>98KG</p>
            <p>Weight</p>
          </div>
          <div class='card-left__sport-info-height'>
            <p>1.94m</p>
            <p>Height</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-right">
      <div class="card-achievement-user">
        <i class="fal fa-trophy"></i>
        <h3>BEST PLAYER WORDL CUP 2023</h3>
        <p>1st place for best player for the national team...</p>
      </div>
      <div class="card-achievement-user">
        <i class="fal fa-trophy"></i>
        <h3>BEST PLAYER WORDL CUP 2023</h3>
        <p>1st place for best player for the national team...</p>
      </div>
      <div class="carousel">   <div class="carousel-inner">   <div class="item active">   <img src="img_1.jpg" alt="Image 1" >   </div>   <div class="item">   <img src="img_2.jpg" alt="Image 2" >   </div>   <div class="item">   <img src="img_3.jpg" alt="Image 3" >   </div>   <div class="item">   <img src="img_4.jpg" alt="Image 4" >   </div>   </div> </div>  <style>   .carousel {   width: 600px;   margin: 10px auto;   }   .carousel-inner {   width: 100%;   overflow: hidden;   }   .carousel-inner .item {   width: 20%;   float: left;   }   .carousel-inner .item img {   display: block;   width: 100%;   max-width: 100%;   } </style>
    </div>
  </div>
</div>
