<div class="sidebar">
  <div class="sidebar_inner">
    <ul class="punto">
      <li>
        <a href="#">
          <span class="icon"><i class="fa fa-qrcode"></i></span>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fa fa-comment"></i></span>
          <span class="text">Messages</span>
        </a>
      </li>
      <li>
        <a href="/applications">
          <span class="icon"><i class="fa fa-book"></i></span>
          <span class="text">Applications</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fa fa-question-circle"></i></span>
          <span class="text">About</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fa fa-id-card"></i></span>
          <span class="text">Contact</span>
        </a>
      </li>
    </ul>
  </div>
</div>
