<div class="bannerh" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('cover.png') %>);">
  <div class="containerbh">
    <h1>SportsIn</h1>
    <p>Deals can be easy</p>
    <a class="btn btnh" href="#">Sing up</a>
  </div>
</div>

<div class="containerh">



















</div>
