<div class="bannerh" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/daaaaanx5/image/upload/v1670338489/development/cover_igto1t.jpg);">
  <div class="containerbh">
    <h1>SportsIn</h1>
    <p>Deals can be easy</p>
    <%# <% if current_user %>
      <% if current_user %>
      <%= link_to user_path(current_user), class: "btn btnh" do %>
      Start now
      <% end %>
       <% else %>
       <%= link_to new_user_session_path, class: "btn btnh" do %>
        Start now
      <% end %>
    <% end %>
    <svg class="arrows">
      <path class="a1" d="M0 0 L30 32 L60 0"></path>
      <path class="a2" d="M0 20 L30 52 L60 20"></path>
      <path class="a3" d="M0 40 L30 72 L60 40"></path>
    </svg>
  </div>
</div>
<div class="containerh">
  <div class="f-div">
    <div class="l-card">
      <h4>FOR ATHLETES</h4>
      <h2>Find the club you always wanted to play for</h2>
      <%= link_to new_user_session_path, class: "btn btnh btt" do %>
        Start now
      <% end %>
    </div>
    <div class="r-card">
      <div class="fcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/daaaaanx5/image/upload/v1670338489/development/run_h6mnub.jpg)">
      </div>
      <div class="r-cards">
        <div class="scard sss" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/daaaaanx5/image/upload/v1670338488/development/volley_lxze7n.jpg)">
        </div>
        <div class="scard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/daaaaanx5/image/upload/v1670338489/development/swim_svvdt9.jpg)">
        </div>
      </div>
    </div>
  </div>
  <div class="s-div">
    <div class="rd-card">
      <div class="fcard" style="background-image: url(https://res.cloudinary.com/daaaaanx5/image/upload/v1670338489/development/cele_jrm5ez.jpg)">
      </div>
      <div class="r-cards">
        <div class="scard sss" style="background-image: url(https://res.cloudinary.com/daaaaanx5/image/upload/v1670338489/development/trophy_jqcwnj.jpg)">
        </div>
        <div class="scard" style="background-image: url(https://res.cloudinary.com/daaaaanx5/image/upload/v1670338489/development/podium_eurwlx.jpg)">
        </div>
      </div>
    </div>
    <div class="ld-card">
      <h4>FOR CLUBS</h4>
      <h2>Find the best players for the right position</h2>
      <%= link_to new_user_session_path, class: "btn btnh btt" do %>
        Start now
      <% end %>
    </div>
  </div>
</div >
