@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-family: 'Baloo Paaji 2', cursive;
}

.card-left {
  margin: 30px;
  display: grid;
}

.grid-container {
  flex-grow: 1;
  margin: 30px;
}

.card {
  background-color: #2F4858;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
  width: 70vw;
  height: 40vh;
  margin: 25px;
  display: flex;
  flex-direction: row;
}

.card__name {
  margin-top: 17px;
  font-size: 2em;
  width: 230px;
  line-height: 28px;
  margin-bottom: 2px;
}

.card__image {
  height: 21vh;
  width: 100wv;
  border-radius: 5px;
  border: 5px solid #272133;
  margin-left: 0px;
  box-shadow: 0 10px 50px #22ecae;
}

.sport {
  font-size: 1.3em;
  width: 230px;
  font-style: italic;
}

.description {
  border: 2px solid #22ecae;
  height: 21vh;
  border-radius: 5px;
  background-color: #1E2F39;
}

.title {
  border: 2px solid #22ecae;
  width: 22vw;
  border-radius: 5px;
}

.titlel {
  border: 2px solid #22ecae;
  width: 22vw;
  border-radius: 5px;
}

.titles {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  margin-top: 25px;
}
