.message {
  //height: 25vh;
  //display: inline-block;
  padding: 15px 20px;
  background: #1E2F39;
  border: none;
  width: 100%;
  border-radius: 5px;
  color: #eaf3e9;
}

// .messages {
//   display: flex;
// }
.text__white{
  color: white;
}
.green-text{
  color: #22ecae;
}
.red-text{
  color:#ff6262;
}
