.navbar-lewagon {
  justify-content: space-between;
  background: #042331;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sidebar{
  min-height: 100vh;
  top: 66px;
  left: 0;
  width: 220px;
  height: 100%;
  background: #042331;
 }

 .sidebar ul li a{
  display: block;
  padding: 23px 10px;
  border-bottom: 1px solid #03374e;
  color: #0e94d4;
 }

 .sidebar ul li a .icon{
  font-size: 18px;
  color: white;
  vertical-align: middle;
 }

 .sidebar ul li a .text{
  margin-left: 19px;
  color: #fff;
  font-family: sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
 }

 .sidebar ul li a:hover{
  background: #0e94d4;
  color: #fff;
 }

 .hover_collapse .sidebar{
  width: 70px;
 }

 .hover_collapse .sidebar ul li a .text{
  display: none;
 }

 .body-content {
  display: flex;
  min-height: 100vh;
 }
